<div class="container mt-5">
    <h2>Project details</h2>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Client Name</th>
            <th>Project Name</th>
            <th>Project type</th>
            <th>Project description</th>
            <th>Project Manager</th>
            <th>Start date</th>
            <th>End date</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let projectdetail of projectdetails">
                <td>{{ projectdetail.projectId }}</td>
                <td>{{ projectdetail.clientName }}</td>
                <td>{{ projectdetail.projectName }}</td>
                <td>{{ projectdetail.projectType }}</td>
                <td>{{ projectdetail.projectDescription}} </td>
                <td>{{ projectdetail.projectManager}} </td>
                <td>{{ projectdetail.startDate}} </td>
                <td>{{ projectdetail.endDate}} </td>

                <td><button (click)="editDialog(projectdetail.projectId)" class="btn btn-primary">Edit</button></td>
                <td><button (click)="deleteDialog(projectdetail.projectId)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button (click)="addDialog()"class="btn btn-primary">Add Project</button> 
</div>