<div class="container mt-5">
    <h2>List of Employees</h2>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>location</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.employeeId }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.contactNumber }}</td>
                <td>{{ employee.location}} </td>

                <td><button (click)="editDialog(employee.employeeId)" class="btn btn-primary">Edit</button></td>
                <td><button (click)="deleteDialog(employee.employeeId)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button (click)="addDialog()"class="btn btn-primary">Add Employee</button>   
</div>